/* .trailer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 793px;
  height: 393px;
  background-color: black; 
  transform: rotate(90deg);

  overflow: hidden;
} 

 .react-player {
  position: absolute;
  top: 50;
  left: 50;
  height: 100%;
  width: 100%;
}  */
/*
.trailer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 793px; /* Adjust width as needed 
  height: 393px; /* Adjust height as needed 
  transform: rotate(90deg);
  overflow: hidden;
  position: relative; /* Ensure positioning context for child elements 
}*/
/* 
.video-wrapper {
  width: 100%;
  height: 100%;
  transform: rotate(
    -90deg
  );  
  transform-origin: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove border if needed 
} 

.trailer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 793px;
  height: 393px;
  background-color: black; 
  transform: rotate(90deg);
  overflow: hidden;
  position: relative; /* Ensure positioning context for child elements 
}*/

.trailer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 793px;
  height: 393px;

  transform: rotate(90deg);
}

.video-wrapper {
  width: 100%;
  height: 100%;
  transform-origin: center;
  position: relative;
  padding-top: 25.25%;
  padding-left: 25%;
}

.react-player {
  width: 100%;
  height: 100%;
  position: absolute;
}
