.trailer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 80vh;
  background-color: black; /* Optional: Background color for better contrast */
  overflow: hidden; /* Ensure no scrollbars appear */
}

.video-wrapper {
  position: relative;
  width: 50%;
  height: 500%;
  transform: rotate(90deg);
  transform-origin: center;
  /* Adjusting dimensions due to rotation */
  width: full; /* Height of the container becomes the width of the player */
  height: 50%; /* Width of the container becomes the height of the player */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}
