/* .background {
  background: url("/public/Image_Loki.png");
  background-repeat: no-repeat;
  background-position: top;
} */

.gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  inset: 0;
  /* z-index: 10; */
  overflow: hidden;
}

.h-60 {
  height: 60%;
}

.h2-font-weight-black {
  font-weight: 900;
}

.description-text {
  font-family: Poppins-Thin;
}

.font-poppins {
  font-family: "Poppins-Thin";
}

.short-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-text {
  display: -webkit-box;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
}

.back-btn {
  z-index: 1;
  cursor: pointer;
}
