.background {
  background: url("/public/Image_Loki.png");
  background-repeat: no-repeat;
  background-position: top;
}

.gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

.h-60 {
  height: 60%;
}

.h2-font-weight-black {
  font-weight: 900;
}
