@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 5vh auto;
  width: 390px;
  border: 1px solid black;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  width: 393px;
  height: 793px;
  border: solid rgb(187, 187, 187) 0.2px;
}
