@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Normal";
  font-weight: 400;
  src: url(/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Headline";
  font-weight: 700;
  src: url(/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 100%;
  width: 100%;
  --main-color: #fc2121;
  --placeholder-color: #a4a3a3;
  --icon-border-color: #97aabd;
}

a {
  text-decoration: none;
  color: var(--icon-border-color);
}
a:hover {
  color: var(--main-color);
}

.lightgray-background {
  background-color: #fbf8ff;
}

.lightgray-background:hover {
  background-color: #fc2121;
  color: white;
}

.lightgray-background-search {
  background-color: #fbf8ff;
}

.custom-bgc {
  background-color: #fc2121 !important;
  color: white !important;
  border: none;
}

.custom-shadow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
